@use "./mixins" as *;
@use "./variables" as *;

.gallery {
  @include section-spacing;
}

.gallery__grid {
  gap: $space-5;
  align-items: center;
}

.gallery__item {
  display: grid;
  gap: $space-3;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  border-radius: $radius;
  box-shadow: $shadow;
}

.gallery__item--top img {
  object-position: center 40%;
}

.gallery__item figcaption {
  color: $muted;
  font-size: 0.98rem;
}
