@use "./mixins" as *;

.users {
  @include section-spacing;
  position: relative;
}

.users::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 1100px;
  height: 1px;
  margin: 2.5rem auto 0;
  background: linear-gradient(90deg, transparent, rgba(31, 43, 47, 0.16), transparent);
}

.users__grid {
  align-items: center;
}
